<!DOCTYPE html>
<html lang="es">

<head>
    <%- include(`./partials/head`) %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="./template1.css">
</head>

<script>
    const udpateProduct = async () => {
        const id = document.getElementById("idProduct").value;
        const codigo = document.getElementById("codigoProduct").value;
        const nombre = document.getElementById("idNombreProduct").value;
        const descripcion = document.getElementById("idDescripcionProduct").value;
        const precio = Number(document.getElementById("idPrecioProduct").value);
        const stock = Number(document.getElementById("idStockProduct").value);
        const thumbnail = document.getElementById("idThumbnailProduct").value;

        const product = {
            id, //id:id
            codigo,
            nombre,
            descripcion,
            precio,
            stock,
            thumbnail
        };

        const response = await fetch(`/api/productos/${id}`, {
            headers: {
                'Content-Type': 'application/json'
            },
            method: 'PUT',
            body: JSON.stringify(product)
        })
            .then(_ => {
                window.location.href = "http://localhost:8080/api/productos";
            });

    }
</script>

<body>
    <header>
        <%- include('./partials/headerLog', {current: `formProductos`}) %>
    </header>

    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-12">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h2 class="fw-bold mb-2 text-uppercase">¡Modificar tuna!</h2>

                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Código</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripcion</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Stock</th>
                                        <th scope="col">Imagen</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input class="form-control form-control-lg" disabled id="idProduct"
                                                type="text" value="<%= product.id %>">
                                        </td>

                                        <td>
                                            <input class="form-control form-control-lg" disabled id="codigoProduct"
                                                type="text" value="<%= product.codigo %>">
                                        </td>

                                        <td>
                                            <input class="form-control form-control-lg" id="idNombreProduct" type="text"
                                                value="<%= product.nombre %>">
                                        </td>

                                        <td>
                                            <input class="form-control form-control-lg" id="idDescripcionProduct"
                                                type="text" value="<%= product.descripcion %>">
                                        </td>

                                        <td>
                                            <input class="form-control form-control-lg" id="idPrecioProduct"
                                                type="number" value="<%= product.precio %>">
                                        </td>

                                        <td>
                                            <input class="form-control form-control-lg" id="idStockProduct"
                                                type="number" value="<%= product.stock %>">
                                        </td>

                                        <td>
                                            <input class="form-control form-control-lg" id="idThumbnailProduct"
                                                type="text" value="<%= product.thumbnail %>">
                                            <img src="<%= product.thumbnail %>" width="60" height="60">
                                        <td>


                                        <td>
                                            <button class="btn btn-success" onclick=udpateProduct()>Modificar
                                                tuna!</button>
                                        </td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>